*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #0c4b33;
    color: white;
    padding: 20px;
}

.logo > p{
    font-size: smaller;
    color: #39b278;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    font-size: small;
    flex: 3;
    margin-right: 100px;
}

li{
    margin: 0 5px;
}

a{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
    border: 1px solid #b8f7ea;
    font-size: 36px;
    color: #6f794e;
    padding: 0 550px;
    text-align: center;
    
}


button{
    background-color: #44b78b;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    font-size: large;
    
}

h3{
    color: white;
    font-size: large;
}

.section3{
    display: flex;
    flex-direction: row;
    background-color: #39b278;
    height: 200px;
    padding: 20px 0;
    
    
}

.learn{
    display: flex;
    flex: 1;
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 180px;
    
}

.involve{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    justify-content: space-evenly;
    margin-left: 180px;
}

.follow{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    justify-content: space-evenly;
    margin-left: 180px;
}

.support{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    justify-content: space-evenly;
    margin-left: 180px;
}

.learn > a{
    font-size: smaller;
}

.involve > a{
    font-size: smaller;
}

.follow > a{
    font-size: smaller;
}

.support > a{
    font-size: smaller;
}

footer{
    background-color: #0c4b33;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.sfoot{
    color: #6f794e;
}